@inject NavigationManager UriHelper

<div class="top-row px-4">
    <div class="row mr-auto">
        <span class="nav-link" @onclick="@(()=>UriHelper.NavigateTo(UriHelper.BaseUri + "bookReader", true))">
            <span class="oi oi-book" aria-hidden="true"></span> Book-reader
        </span>
        <span class="nav-link" @onclick="@(()=>UriHelper.NavigateTo(UriHelper.BaseUri + "authors", true))">
            <span class="oi" aria-hidden="true"></span> Authors
        </span>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
